<h1>Listing currency_pairs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currency_pairs.each do |currency_pair| %>
      <tr>
        <td><%= currency_pair.name %></td>
        <td><%= link_to 'Show', currency_pair %></td>
        <td><%= link_to 'Edit', edit_currency_pair_path(currency_pair) %></td>
        <td><%= link_to 'Destroy', currency_pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Currency pair', new_currency_pair_path %>
